services:
  server:
    build: ./server
    env_file:
      - ./server/.env.production
    ports:
      - "5000:5000"

  app:
    build:
      context: ./app
      args:
        - NEXT_PUBLIC_API_URL=http://localhost:5000
    ports:
      - "3000:3000"
    depends_on:
      - server
